<main class="section">
    <h1>Carrito</h1>

    {{#if isSession}}
        {{#if cartItems}}
        <table class="striped">
            <thead>
                <tr>
                    <th>Portada</th>
                    <th>Titulo</th>
                    <th>Precio</th>
                    <th>Category</th>
                    <th>Unidades</th>
                </tr>
            </thead>

            <tbody>
                {{#each cartItems}}
                <tr>
                    <td><img src="{{this.product.thumbnail}}" alt="Portada del producto" width="50"></td>
                    <td>{{this.product.title}}</td>
                    <td>{{this.product.price}}</td>
                    <td>{{this.product.category}}</td>
                    <td>{{this.quantity}}</td>
                    <td>
                        <form class="delete-product-in-cart" data-cart-id="{{../cartUser}}" data-product-id="{{this.product._id}}" enctype="multipart/form-data">
                            <button class="btn" type="submit"><i class="material-icons">delete_forever</i></button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <form class="buy-products mt-3" data-cart-id="{{cartUser}}" enctype="multipart/form-data">
            <button class="btn waves-effect waves-light" type="submit">Finalizar compra</button>
        </form>
        {{else}}
            <p>Carrito vacio <a href="/">agrega productos</a></p>
        {{/if}}
    {{else}}
        <p>Debes logearte para agregar productos al carrito</p>
    {{/if}}
</main>

<script src="/js/cart.js"></script>