<main>
    <div>
        <h1>Inicio</h1> <a class="btn waves-effect waves-light" href="/products/"><i class="material-icons">add</i></a>
    </div>

    <div class="row">
        {{#each products.docs}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="{{this.thumbnail}}">
                </div>
                <div class="card-content">
                    <h3 class="card-title">{{this.title}}</h3>
                    <p><strong>{{this.price}}</strong></p>
                    <p>{{this.description}}</p>
                </div>
                <div class="card-action">
                    <a class="btn waves-effect waves-light" href="/products/{{this._id}}">Ver producto</a>
                </div>
            </div>
        </div> 
        {{/each}}
    </div>

    <div class="row">
        {{#if products.prevPage}}
            <a class="btn waves-effect waves-light" href="/?page={{products.prevPage}}">Anterior</a>
        {{/if}}

        {{#if products.nextPage}}
            <a class="btn right waves-effect waves-light" href="/?page={{products.nextPage}}">Siguiente</a>
        {{/if}}
    </div>
</main>